Box{
    top: 0;
    height: 52px;
    display: flex;
    padding: 0 32px;
    z-index: 1001;
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    align-items: center;
    justify-content: space-between;
}